<div class="container-fluid ">
    <div class="row mt-2 border-bottom">
        <strong class="col-6 h3 d-flex align-items-center">Todo's</strong>
        <div class="col-6 d-flex align-items-center justify-content-end">
                <mat-form-field class="mt-3 px-3" appearance="outline">
                    <mat-label>Search</mat-label>
                    <input matInput [(ngModel)]="searchText" (input)="filterItems()"  type="text"  class="px-2" placeholder="Search">
                </mat-form-field>
                <button  mat-raised-button (click)="opendialog()">+ Add Task</button>
        </div>
    </div>
    <div class="row gap-3">
        <div class="card mt-2 p-3 col-5" *ngFor="let todo of task">
            <div class="row">
                <strong class="col-6 d-flex align-items-center">
                    <input type="checkbox" class="">
                    <span class="px-2">{{todo.taskinput}}</span>    
                </strong>
                <div class="col-6 text-right text-end">{{todo.taskdate | date}}</div>
                <div class="col-12 mt-2">{{todo.taskdata}}</div>
            </div>
        </div>
        
            <div *ngFor="let item of filteredItems">{{ item.name }}</div>
          
    </div>
</div>

 