.navbar{
    
    width:220px ;
}
a{
    text-decoration: none;
    color: #BBBBBB;
    font-size: 14px;
    font-weight: 200;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}
.bi{
    font-size: 21px;
    margin-right: 15px;
}
ul{
    
}
li{
    margin-top: 24px;
    
}
a:hover,
li:hover{
    background: conic-gradient(from 270deg at 80% 90%, #5735D2 0deg, #8F98FF 88.12deg, #FE9168 191.25deg, #5735D2 360deg);
;
color: white;
width: 212px;

border-radius: 8px;

}