
<!-- <app-navbar></app-navbar> -->
  <div class="container-fluid  ">
    <div class="row px-0">
      
        <!-- <app-sidebar></app-sidebar> -->
      
      <div class="col-8 border-end">
        <div class="row pt-4 pb-4">
          <h1 class="h3">Welcome, Emilia!</h1>
          <label class="lb mt-2"
            >Today is a great day to conduct financial activities.</label
          >
        </div>
        <div class="row border">
          <div class="col-7">
            <app-barchart></app-barchart>
          </div>
          <div class="col-5">
            <app-piechart></app-piechart>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12">
            <div class="mb-3">
              <span class="Recent-head">Recent Activity</span>
            </div>
            <div
              class="d-flex flex-row align-items-center border-bottom mb-3 pb-2"
            >
             <button class="border-0 his">History</button>
             <button class="border-0 up">Upcoming</button>
             <!--  <span class="his">History</span>
              <span class="up">Upcoming</span> -->
  
              <div
                class="plus rounded-2 d-flex align-items-center justify-content-center"
              >  +
              </div>
            </div>
            <div>
              <label class="date mb-3">07,June 2021</label>
  
              <div class="row">
                <div class="col-4">
                  <div class="d-flex align-items-center">
                    <img src="assets/image/sketch.png" />
                    <div class="d-flex flex-column px-3">
                      <span class="acitivity-heading">Sketch Subscription</span>
                      <label class="date mt-1">07 Apr 2021, at 08:44 AM</label>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="d-flex px-3">
                    <img src="assets/image/icon.png" alt="" />
                    <label class="activity-label px-2">supplies</label>
                  </div>
                </div>
                <div class="col-2">
                  <img class="px-5" src="assets/image/gear.png" alt="" />
                </div>
                <div class="col-2">
                  <div
                    class="d-flex flex-column justify-content-center align-items-center px-5"
                  >
                    <span class="price">-$8.00</span>
                    <label class="date mt-1">Out</label>
                  </div>
                </div>
                <div class="col-2">
                  <div class="d-flex justify-content-center">
                    <button  mat-icon-button >
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </div>
  
                </div>
              </div>
  
              <label class="date mt-3 mb-3">06,June 2021</label>
              <div class="row mb-3">
                <div class="col-4">
                  <div class="d-flex align-items-center">
                    <img src="assets/image/microsoft.png" />
                    <div class="d-flex flex-column px-3">
                      <span class="acitivity-heading">Microsoft software</span>
                      <label class="date mt-1">07 Apr 2021, at 08:44 AM</label>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="d-flex px-3">
                    <img src="assets/image/icon2.png" alt="" />
                    <label class="activity-label px-2">Marketing</label>
                  </div>
                </div>
                <div class="col-2">
                  <img class="px-5" src="assets/image/gear.png" alt="" />
                </div>
                <div class="col-2">
                  <div
                    class="d-flex flex-column justify-content-center align-items-center px-5"
                  >
                    <span class="price">+$25.00</span>
                    <label class="date mt-1">In</label>
                  </div>
                </div>
                <div class="col-2">
                  <div class="d-flex justify-content-center">
                    <button  mat-icon-button>
                      <mat-icon>more_vert</mat-icon>
                  </button></div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="d-flex align-items-center">
                    <img src="assets/image/youtube.png" />
                    <div class="d-flex flex-column px-3">
                      <span class="acitivity-heading">Youtube premium</span>
                      <label class="date mt-1">07 Apr 2021, at 08:44 AM</label>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="d-flex px-3">
                    <img src="assets/image/icon.png" alt="" />
                    <label class="activity-label px-2">Office</label>
                  </div>
                </div>
                <div class="col-2">
                  <img class="px-5" src="assets/image/gear.png" alt="" />
                </div>
                <div class="col-2">
                  <div
                    class="d-flex flex-column justify-content-center align-items-center px-5"
                  >
                    <span class="price">$9.00</span>
                    <label class="date mt-1">Out</label>
                  </div>
                </div>
                <div class="col-2">
                  <div class="d-flex justify-content-center ">
                    <button  mat-icon-button>
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 ">
        <div class="d-flex flex-column">
          <div class="d-flex align-items-center mt-3 mb-3">
            <span class="card-heading">Your Card</span>
            <img
              style="margin-left: 290px"
              src="assets/image/Frame2.png"
              alt=""
            />
          </div>
  
          <img class="card border-0" src="assets/image/card.png" alt="" />
        </div>
        <!-- /////// -->
        <div class="Exchange Rate">
  
          <div class="d-flex align-items-center mt-5">
            <span class="ER">Exchange Rate</span>
            <a style="margin-left: 225px" href="">See All</a>
          </div>
          <div>
            <ul class="d-flex flex-column ">
              <li >
                <div class="row mt-3">
                  <div class="col-1 mt-2">
                    <span class="No">1</span>
                  </div>
                  <div class="col-2 mt-2">
                    <img class="icon" src="assets/image/united-states.png" />
                  </div>
                  <div class="col-2 mt-2">
                    <label
                    class="currency"
                    >USD</label>
                  </div>
                  <div class="col-3 mt-2">
                    <label class="cash">$0.823532</label>
                  </div>
                  <div class="col-1 mt-2">
                    <img class="arrow" src="assets/image/Arrow - Up.png" />
                  </div>
                  <div class="col-3">
                    <div>
                      <button  mat-icon-button>
                        <mat-icon>more_vert</mat-icon>
                      </button>
                    </div>
                   </div>
                </div>
              </li>
              <li >
                <div class="row">
                  <div class="col-1 mt-2">
                    <span class="No">2</span>
                  </div>
                  <div class="col-2 mt-2">
                    <img class="icon" src="assets/image/germany.png" />
                  </div>
                  <div class="col-2 mt-2">
                    <label
                    class="currency"
                    >EUR</label>
                  </div>
                  <div class="col-3 mt-2">
                    <label class="cash">$0.823532</label>
                  </div>
                  <div class="col-1 mt-2">
                    <img class="arrow" src="assets/image/Arrowd.png" />
                  </div>
                  <div class="col-3">
                    <div >
                      <button  mat-icon-button>
                        <mat-icon>more_vert</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
              <li >
                <div class="row">
                  <div class="col-1 mt-2">
                    <span class="No">3</span>
                  </div>
                  <div class="col-2 mt-2">
                    <img class="icon" src="assets/image/indonesia.png" />
                  </div>
                  <div class="col-2 mt-2">
                    <label
                    class="currency"
                    >IDR</label>
                  </div>
                  <div class="col-3 mt-2">
                    <label class="cash">$0.823532</label>
                  </div>
                  <div class="col-1 mt-2">
                    <img class="arrow" src="assets/image/Arrow - Up.png" />
                  </div>
                  <div class="col-3 ">
                    <div class="d-flex align-items-center">
                      <button mat-icon-button>
                        <mat-icon>more_vert</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
              <li >
                <div class="row">
                  <div class="col-1 mt-2">
                    <span class="No">4</span>
                  </div>
                  <div class="col-2 mt-2">
                    <img class="icon" src="assets/image/japan.png" />
                  </div>
                  <div class="col-2 mt-2">
                    <label
                    class="currency"
                    >YEN</label>
                  </div>
                  <div class="col-3 mt-2">
                    <label class="cash">$0.823532</label>
                  </div>
                  <div class="col-1 mt-2">
                    <img class="arrow" src="assets/image/Arrowd.png" />
                  </div>
                  <div class="col-3">
                    <div class="d-flex align-items-center">
                      <button mat-icon-button>
                        <mat-icon>more_vert</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            
            </ul>
          </div>
        </div>
        <!-- ////////// -->
        <div class="Features">
          <div class="d-flex align-items-center mt-3 mb-4">
            <span class="Features-Heading">Features Tools</span>
            <a href="" style="margin-left: 225px">See All</a>
          </div>
          <div class="row">
            
            <div class="col-8">
              <div class="d-flex flex-row align-items-center">
                <i class="bi bi-file-text-fill"></i>
              <div class="d-flex flex-column px-3">
                <span class="mb-2 create-invoice">Create Invoices</span>
                <label class="l1">Check our new best offers</label>
              </div>
              </div>
            </div>
            <div class="col-4 d-flex align-items-center">
                <i class="bicon bi-caret-right"></i>
            </div>  
          </div>
          <div class="row">
            
            <div class="col-8">
              <div class="d-flex flex-row align-items-center">
                <i class="bi bi-file-text-fill"></i>
              <div class="d-flex flex-column px-3">
                <span class="mb-2 create-invoice">Create Invoices</span>
                <label class="l1">Check our new best offers</label>
              </div>
              </div>
            </div>
            <div class="col-4 d-flex align-items-center">
                <i class="bicon bi-caret-right"></i>
            </div>  
          </div>
          <div class="row">
            
            <div class="col-8">
              <div class="d-flex flex-row align-items-center">
                <i class="bi bi-file-text-fill"></i>
              <div class="d-flex flex-column px-3">
                <span class="mb-2 create-invoice">Create Invoices</span>
                <label class="l1">Check our new best offers</label>
              </div>
              </div>
            </div>
            <div class="col-4 d-flex align-items-center">
                <i class="bicon bi-caret-right"></i>
            </div>  
          </div>
         <!--  <div class="d-flex align-items-center mb-4">
            <i class="bi bi-wallet-fill"></i>
            <div class="d-flex flex-column px-3">
              <span class="mb-2 create-invoice">Send & Request</span>
              <label class="l1">All request from your clients</label>
            </div>
            <i class="bicon2 bi-caret-right"></i>
          </div>
          <div class="d-flex align-items-center mb-4">
            <i class="bi bi-telephone-fill"></i>
            <div class="d-flex flex-column px-3">
              <span class="mb-2 create-invoice">Support Request</span>
              <label class="l1">Get some help with us</label>
            </div>
            <i class="bicon3 bi-caret-right"></i>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  
